body{
    font-family: arial, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
nav {
    background-color: black;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 1 0px;
}
.logo{
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.pagesNav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.searchNav {
    margin-left: auto;
    width:25%;
    margin-right: 20px;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: underline;
}
.searchEngine{
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
    min-width: 200px;
    padding: 5px;
    gap:10px;
}
.searchEngine input{
    border: none;
    width: 50%;
}
.searchEngine input:focus{
    border: none;
    outline: none;

}
.searchEngine button{
    background-color: lightblue;
    border: 0;
    border-radius: 20px;
    padding: 10px;
}
.searchEngine button:hover{
    background-color: #87CEFB;
    border: 0;
    border-radius: 20px;
}
.content{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("./newyork.jpg");
    background-size: cover;
    height: 100vh;
    gap:50px;
    
}
.homeIntroduction{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    color: white;
    
}
.socialmedia{
    width: 10%;
    gap:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.aboutus{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 50px;
}
.ourteam {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 50px;
}
.person {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 20px;
    display:flex;
    flex-direction: row;
    gap: 10px;
}
.position {
    background-color: #89CFF0;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
}
.person img{
    width:25px;
    height:25px;
    border-radius:20px;
}